<nav class="nav-bar">
  <div class="logo">
    <LinkTo @route="index">
      <img src="/logoS.jpg" alt="logoS" class="logo-img">
    </LinkTo>
  </div>
  <div class="nav-links-container">
    <div class="nav-links">
      <LinkTo @route="workout">Workout Plan</LinkTo>
      <LinkTo @route="workoutA">Workout A</LinkTo>
      <LinkTo @route="workoutB">Workout B</LinkTo>
      <LinkTo @route="workoutC">Workout C</LinkTo>
      <LinkTo @route="dad">Dad</LinkTo>
    </div>
  </div>
</nav>
