<NavigationBar />

<div class="injuries-page">
  <ExerciseList 
  @title="Workout A (Mon & Thurs)" 
  @exercises={{array 

    (hash name="Backwards Walk" 
      description="Push through toes" 
      reps="5 minutes"
      videoUrl="https://www.youtube.com/embed/GHpJxYs0Iqc")

    (hash name="Single Leg Standing Calf Raises (Straight leg)" 
      description="Do Straight leg, as you progress you can add a load with dumbbells. In this progressed form, drop over a step, holding dumbbell on your active legs sdie. Use other hand (knuckles) to brace yourself." 
      reps="2 sets of 15 per side (IN BETWEEN sets, do the tibialis raise)"
      videoUrl="https://www.youtube.com/embed/k4rDx34nY7E?start=13&end=54")

    (hash name="Tibialis Raise" 
      description="Butt against wall, legs straight out ~ foot from wall, go up on heels with both feet, farther from wall gets harder" 
      reps="2 sets of 25"
      videoUrl="https://www.youtube.com/embed/DylhG4x8F1U?start=72&end=150")

    (hash name="Slant Squat"
      description="Squat on a slanted board"
      reps="25"
      videoUrl="https://www.youtube.com/embed/KCIjsChNs64")

    (hash name="ATG split squat" 
      description="Lunge squat, front heel can come off, hamstring to calf" 
      reps="4 sets of up to 12 reps per side"
      videoUrl="https://www.youtube.com/embed/Vb4Pn-zsFGc?start=0&end=90")

    (hash name="Hanging Knee Raise (L Sit)"
      description="strengthen not just the 6-pack, but also the hip flexors."
      reps="5 * 20 seconds"
      videoUrl="https://www.youtube.com/embed/aMEpsJ1PWyk")

    (hash name="Incline Dumbbell Press"
      description="angle the dumbbells so my chest and shoulders don’t stop them short. This allows for my full range of motion."
      reps="2 sets of 15"
      videoUrl="https://www.youtube.com/embed/WJvPftM50HA")

    (hash name="Seated lumbar stretch"
      description="Start with back against wall. As you get stronger and more flexible you might even enjoy the freedom of not using the wall."
      reps="2 sets of 10 each side"
      videoUrl="https://www.youtube.com/embed/dsT4TBBXPGI")

    (hash name="Standing Pancake"
      description="Widen legs, grab elbows, lower head close to floor"
      reps="30-60 seconds"
      videoUrl="https://www.youtube.com/embed/CJqdb_HKzzY")
    
  }} />

</div>
<div class="injuries-page">
  <ExerciseList 
  @title="Workout B (Tues & Fri)" 
  @exercises={{array 

    (hash name="Backwards Walk" 
      description="Push through toes" 
      reps="5 minutes"
      videoUrl="https://www.youtube.com/embed/GHpJxYs0Iqc")

    (hash name="Single Leg Standing Calf Raises (Bent leg)" 
      description="Bent leg version or Knees Over Toes. In gym, the seated calf machine would be used to add weight for this exercise " 
      reps="2 sets of 15 per side (IN BETWEEN sets, do the tibialis raise)"
      videoUrl="https://www.youtube.com/embed/k4rDx34nY7E?start=13&end=54")

    (hash name="Tibialis Raise" 
      description="Butt against wall, legs straight out ~ foot from wall, go up on heels with both feet, farther from wall gets harder" 
      reps="2 sets of 25"
      videoUrl="https://www.youtube.com/embed/DylhG4x8F1U?start=72&end=150")

    (hash name="Nordic Curl"
      description="working toward the ability to control your body the whole way down"
      reps="4 sets of 5 reps"
      videoUrl="https://www.youtube.com/embed/XtMs-Lkm2HQ")

    (hash name="Pullups"
      description="using your legs to push up and then controlling the way down is a great start - even hanging alone is great"
      reps="2 sets of 12"
      videoUrl="https://www.youtube.com/embed/nxcaAt_iH5A")

    (hash name="ATG-style Overhead Dumbbell Press"
      description="standing overhead dumbbell press"
      reps="2 sets of 12"
      videoUrl="https://www.youtube.com/embed/31iVw9Udf_s")

    (hash name="Row"
      description="The goal for the row is feet-elevated so that your body is parallel to the floor. 
      However, you can regress the exercise by having your feet on the ground and raising the bar. You can also do rows with dumbbells, cable or machine."
      reps="2 sets of 12"
      videoUrl="https://www.youtube.com/embed/hEvI9z0S2-U")

    (hash name="Band Pull-aparts"
      description="learn to strengthen between our shoulders and not let the modern tech posture take effect."
      reps="25"
      videoUrl="https://www.youtube.com/embed/wydoZ21jYiQ")

  }} />

</div>
<div class="injuries-page">
  <ExerciseList 
  @title="Workout C (Wed & Sat)" 
  @exercises={{array 

    (hash name="Backwards Walk" 
      description="Push through toes" 
      reps="5 minutes"
      videoUrl="https://www.youtube.com/embed/GHpJxYs0Iqc")

    (hash name="Couch Stretch"
      description=""
      reps="60 seconds per side"
      videoUrl="https://www.youtube.com/embed/ezjeJfiYlTs?start=0&end=70")

    (hash name="Elephant Walk"
      description="Flex core, slight bend in knees as you bend over, shoulders to ears, straighten one leg at a time, butt down between each side"
      reps="20 each side"
      videoUrl="https://www.youtube.com/embed/VftyiSAcfEI?start=80&end=125")

    (hash name="Slant Squat"
      description="Squat on a slanted board"
      reps="25"
      videoUrl="https://www.youtube.com/embed/KCIjsChNs64")

    (hash name="ATG split squat" 
      description="Lunge squat, front heel can come off, hamstring to calf" 
      reps="4 sets of up to 12 reps per side"
      videoUrl="https://www.youtube.com/embed/Vb4Pn-zsFGc?start=0&end=90")

    (hash name="Back Extension"
      description="Notice how the Nordic uses the knee as the hinge, and the back extension uses the hip as a hinge."
      reps="4 sets of up to 12 reps"
      videoUrl="https://www.youtube.com/embed/ZSDr-G-EvJo")

    (hash name="Pushups"
      description="deep pushups using rasied hand holds"
      reps="25"
      videoUrl="https://www.youtube.com/embed/iG36ATUe950")

    (hash name="Seated lumbar stretch"
      description="Start with back against wall. As you get stronger and more flexible you might even enjoy the freedom of not using the wall."
      reps="2 sets of 10 each side"
      videoUrl="https://www.youtube.com/embed/dsT4TBBXPGI")

    (hash name="Wall Pullovers"
      description="Little more than arms distance from wall, hands shoulder height on wall, butt back, head through arms"
      reps="30-60 seconds"
      videoUrl="https://www.youtube.com/embed/NmL_Lj0ZcdY?start=50&end=60")

  }} />

</div>