<NavigationBar />

<div class="injuries-page">

  <ExerciseList 
    @title="Knees" 
    @exercises={{array 
    (hash name="ATG split squat" 
      description="Lunge squat, front heel can come off, hamstring to calf" 
      reps="4 sets of up to 12 reps per side"
      videoUrl="https://www.youtube.com/embed/Vb4Pn-zsFGc?start=0&end=90")

    (hash name="Poliquin Step Up" 
      description="One foot on slanted surface, other foot out front. Squat to lower outstretched foot to ground." 
      reps="4 sets of up to 12 reps per side"
      videoUrl="https://www.youtube.com/embed/iRvybsL8b-I")

    (hash name="Single Leg Standing Calf Raises (Bent and straight leg)" 
      description="On one foot, calf raise with hands agaisnt the wall. Do bent leg and also straight leg agaisnt. " 
      reps="2 sets of 15 per side (IN BETWEEN sets, do the tibialis raise)"
      videoUrl="https://www.youtube.com/embed/k4rDx34nY7E?start=13&end=54")

    (hash name="Tibialis Raise" 
      description="Butt against wall, legs straight out ~ foot from wall, go up on heels with both feet, farther from wall gets harder" 
      reps="2 sets of 25"
      videoUrl="https://www.youtube.com/embed/DylhG4x8F1U?start=72&end=150")

    (hash name="Elephant Walk"
      description="Flex core, slight bend in knees as you bend over, shoulders to ears, straighten one leg at a time, butt down between each side"
      reps="20 each side"
      videoUrl="https://www.youtube.com/embed/VftyiSAcfEI?start=80&end=125")
      
  }} />


</div>