<NavigationBar />

<div class="injuries-page">
  <ExerciseList 
  @title="TMJ" 
  @exercises={{array 
    (hash name="Relaxed Jaw Exercise" description="Begin by placing your tongue on top of your mouth behind your upper front teeth. 
    Gently open and close your mouth and relax your jaw muscles." reps="10")
    (hash name="Chin Tucks" description="Begin by pulling your chin straight back, creating a “double chin”. Hold this 
    position for five seconds and then slowly return to the starting position." reps="10")
    (hash name="Resisted Mouth Opening" description="To begin this exercise, place your thumb or two fingers under your chin while your mouth is closed. 
    Begin to open your mouth slowly while applying gentle pressure with your thumb or fingers. Hold for five seconds and then close your mouth." reps="10")
    (hash name="Resisted Mouth Closing" description="To begin this exercise, place your thumb or two fingers on your chin with your mouth open. Begin to close your mouth slowly while applying gentle resistance with your thumb or fingers. 
    Hold for five seconds and then relax. Slowly return to the starting position with your mouth open" reps="10")
    (hash name="Masseter Muscle Massage" description="Locate the masseter muscle on both sides of your jaw. Place your index and middle fingers on the muscle. Gently massage in a circular motion for a minute" reps="1 minute each side")
  }} />
  <ExerciseList 
    @title="Turf Toe" 
    @exercises={{array 
      (hash name="Toe curls" description="Place a towel on the ground and put your foot onto it. With your foot flat on the ground, curl your toes and try to scrunch the towel closer to you. 
      The goal of the exercise is to move the towel towards you completely!" reps="25")
      (hash name="Short Foot Doming" description="Get set-up seated if you’re performing this for the first time, the goal is to progress to standing. While keeping your foot, heel, and toes flat on the ground as best as you can, think about pulling your big toe back towards your heel without actually bending your toes. Hold this position for a moment, then return to starting position When performed correctly, 
      your arch will raise in height and your foot will shorten in length to form a dome shape." reps="25")
      (hash name="Big Toe Abduction" description="standing, Glide big toe towards the inside of your body, hold for 3 seconds, and then relax it back to center. Keep the rest of the foot planted into the ground" reps="25")
      (hash name="Big Toe Lifts" description="Keep all 4 toes on the gorund and lift big toes up, avoid letting scrunge, keep toes relaxed. Hold for 3 seconds" reps="25")
      (hash name="Late Stage exercises" description="See https://theprehabguys.com/turf-toe-rehab-exercises for late stage exercises once the above ones feel easy")
    }} />

  <ExerciseList 
    @title="Elbow" 
    @exercises={{array 
      (hash name="Bicep load on back" description="Laying down on edge of bed, with arm handing off at the elbow. Hold a 5 lb dumbbell. 
      Start by having thumb up and lifting towards you. The do palm up same motion" reps="5x each side each type")
      (hash name="Pillar Grab" description="Grab pillar with hand and rotate body to push arm straight." reps="15x each side")
      (hash name="Tricep Extension Pulse" description="Use bands around a overhead bar, tricep pulldown with both arms " reps="30 seconds to 2 minutes")
      (hash name="Golf club movement" description="Hold a golf club near 3/4 length of the bar. Rotate your arm to move the golf club back and forth. 
      Move palm down to palm up" reps="10x each type")
      (hash name="Post Stretch" 
      description="(1) Out to the side (2) Across Body" 
      reps="10-15x"
      videoUrl="https://www.youtube.com/embed/OrwTM_MaTzQ")
      (hash name="Pull over on back" 
      description="Palms facing each other, don't let arms bend" 
      reps="3-5 reps 10-15x"
      videoUrl="https://www.youtube.com/embed/4k9kYIlmqdM")
    }} />
</div>


