<NavigationBar />

<div class="injuries-page">
  <ExerciseList 
  @title="TMJ" 
  @exercises={{array 
    (hash name="Relaxed Jaw Exercise" description="Begin by placing your tongue on top of your mouth behind your upper front teeth. 
    Gently open and close your mouth and relax your jaw muscles." reps="10")
    (hash name="Chin Tucks" description="Begin by pulling your chin straight back, creating a “double chin”. Hold this 
    position for five seconds and then slowly return to the starting position." reps="10")
    (hash name="Resisted Mouth Opening" description="To begin this exercise, place your thumb or two fingers under your chin while your mouth is closed. 
    Begin to open your mouth slowly while applying gentle pressure with your thumb or fingers. Hold for five seconds and then close your mouth." reps="10")
    (hash name="Resisted Mouth Closing" description="To begin this exercise, place your thumb or two fingers on your chin with your mouth open. Begin to close your mouth slowly while applying gentle resistance with your thumb or fingers. 
    Hold for five seconds and then relax. Slowly return to the starting position with your mouth open" reps="10")
    (hash name="Masseter Muscle Massage" description="Locate the masseter muscle on both sides of your jaw. Place your index and middle fingers on the muscle. Gently massage in a circular motion for a minute" reps="1 minute each side")
  }} />
  <ExerciseList 
    @title="Turf Toe" 
    @exercises={{array 
      (hash name="Toe curls" description="Place a towel on the ground and put your foot onto it. With your foot flat on the ground, curl your toes and try to scrunch the towel closer to you. 
      The goal of the exercise is to move the towel towards you completely!" reps="25")
      (hash name="Short Foot Doming" description="Get set-up seated if you’re performing this for the first time, the goal is to progress to standing. While keeping your foot, heel, and toes flat on the ground as best as you can, think about pulling your big toe back towards your heel without actually bending your toes. Hold this position for a moment, then return to starting position When performed correctly, 
      your arch will raise in height and your foot will shorten in length to form a dome shape." reps="25")
      (hash name="Big Toe Abduction" description="standing, Glide big toe towards the inside of your body, hold for 3 seconds, and then relax it back to center. Keep the rest of the foot planted into the ground" reps="25")
      (hash name="Big Toe Lifts" description="Keep all 4 toes on the gorund and lift big toes up, avoid letting scrunge, keep toes relaxed. Hold for 3 seconds" reps="25")
      (hash name="Late Stage exercises" description="See https://theprehabguys.com/turf-toe-rehab-exercises for late stage exercises once the above ones feel easy")
    }} />

  <ExerciseList 
    @title="Elbow" 
    @exercises={{array 
      (hash name="Bicep load on back" description="Laying down on edge of bed, with arm handing off at the elbow. Hold a 5 lb dumbbell. 
      Start by having thumb up and lifting towards you. The do palm up same motion" reps="5x each side each type")
      (hash name="Pillar Grab" description="Grab pillar with hand and rotate body to push arm straight." reps="15x each side")
      (hash name="Tricep Extension Pulse" description="Use bands around a overhead bar, tricep pulldown with both arms " reps="30 seconds to 2 minutes")
      (hash name="Golf club movement" description="Hold a golf club near 3/4 length of the bar. Rotate your arm to move the golf club back and forth. 
      Move palm down to palm up" reps="10x each type")
      (hash name="Post Stretch" 
      description="(1) Out to the side (2) Across Body" 
      reps="10-15x"
      videoUrl="https://www.youtube.com/embed/OrwTM_MaTzQ")
      (hash name="Pull over on back" 
      description="Palms facing each other, don't let arms bend" 
      reps="3-5 reps 10-15x"
      videoUrl="https://www.youtube.com/embed/4k9kYIlmqdM")
    }} />

    <ExerciseList 
    @title="Shoulder" 
    @exercises={{array 
      (hash name="Elevated Childs pose" 
      description="Kneeling, arms in front on chair with thums up, sit back onto heels and back up. Dont hike shoulders or let back arch" 
      reps="10x"
      videoUrl="https://www.youtube.com/embed/kjVMvA5up7s")
      (hash name="Press Down" 
      description="Arm out to the side on object below shoulder height. Rotate body out to comfort level. Tuck elbow in slightly. Push down on object with arm, trying to activate muscles in armpit" 
      reps="hold 5 seconds 5-10x"
      videoUrl="https://www.youtube.com/embed/p0zcn8O-4N0")
      (hash name="Sidelying rotation" 
      description="Lay on your side, both knees bent on top of each other. Reach top hand forward, slowly lift arm and rotate upper torso keeping knees together and back." 
      reps="10-20x"
      videoUrl="https://www.youtube.com/embed/BTREEn-D7vE")
      (hash name="Pallof Press Single"
      description="Band anchored at side, step out to side to get tension in band, Hold at chest, use both hands to push it out front, then let go with one hand. Do both directions." 
      reps="arm hold 10 seconds, 5-10x face each direction"
      videoUrl="https://www.youtube.com/embed/xrk8yvunakE")

      (hash name="Post Stretch"
      description="seated, hand shoulder height out to the side, holding onto post. Rocking motion. If that feels good, hold post out front in line with shoulder and bring hand across" 
      reps="15 - 20 times in each position"
      videoUrl="https://www.youtube.com/embed/OrwTM_MaTzQ")

      (hash name="Sidelying weight to wall"
      description="lay against wall on good side, bring arm from floor to wall back and forth with weight in hand" 
      reps="start with 5lb weight, 3x to failure. If past 15x, add weight"
      videoUrl="https://www.youtube.com/embed/I7eES4hl4SA")

      (hash name="Row - no step"
      description="band in left hand, left leg back, pull band back and forth from straight on, with other arm moving back and forth oppositely" 
      reps="10x - 20x, increase band or distance if easy"
      videoUrl="https://www.youtube.com/embed/WiEL29CRRQ8")

      (hash name="Plank with single arm holds"
      description="pushup position, both hands down on rasied surface (table, chair, stairs). Let go with one arm, push away from the table and hold for 10 seconds. then do other hand." 
      reps="10 secs each side, 10-15x"
      videoUrl="https://www.youtube.com/embed/KmJ_rkSMG58")
    }} />
</div>


