<NavigationBar />

<div class="injuries-page">
  <ExerciseList 
  @title="Workout C (Wed & Sat)" 
  @exercises={{array 

    (hash name="Backwards Walk" 
      description="Push through toes" 
      reps="5 minutes"
      videoUrl="https://www.youtube.com/embed/GHpJxYs0Iqc")

    (hash name="Couch Stretch"
      description=""
      reps="60 seconds per side"
      videoUrl="https://www.youtube.com/embed/ezjeJfiYlTs?start=0&end=70")

    (hash name="Elephant Walk"
      description="Flex core, slight bend in knees as you bend over, shoulders to ears, straighten one leg at a time, butt down between each side"
      reps="20 each side"
      videoUrl="https://www.youtube.com/embed/VftyiSAcfEI?start=80&end=125")

    (hash name="Slant Squat"
      description="Squat on a slanted board"
      reps="25"
      videoUrl="https://www.youtube.com/embed/KCIjsChNs64")

    (hash name="ATG split squat" 
      description="Lunge squat, front heel can come off, hamstring to calf" 
      reps="4 sets of up to 12 reps per side"
      videoUrl="https://www.youtube.com/embed/Vb4Pn-zsFGc?start=0&end=90")

    (hash name="Back Extension"
      description="Notice how the Nordic uses the knee as the hinge, and the back extension uses the hip as a hinge."
      reps="4 sets of up to 12 reps"
      videoUrl="https://www.youtube.com/embed/ZSDr-G-EvJo")

    (hash name="Pushups"
      description="deep pushups using rasied hand holds"
      reps="25"
      videoUrl="https://www.youtube.com/embed/iG36ATUe950")

    (hash name="Seated lumbar stretch"
      description="Start with back against wall. As you get stronger and more flexible you might even enjoy the freedom of not using the wall."
      reps="2 sets of 10 each side"
      videoUrl="https://www.youtube.com/embed/dsT4TBBXPGI")

    (hash name="Wall Pullovers"
      description="Little more than arms distance from wall, hands shoulder height on wall, butt back, head through arms"
      reps="30-60 seconds"
      videoUrl="https://www.youtube.com/embed/NmL_Lj0ZcdY?start=50&end=60")

  }} />

</div>