<NavigationBar />

<div class="injuries-page">
  <ExerciseList 
  @title="Workout A (Mon & Thurs)" 
  @exercises={{array 

    (hash name="Backwards Walk" 
      description="Push through toes" 
      reps="5 minutes"
      videoUrl="https://www.youtube.com/embed/GHpJxYs0Iqc")

    (hash name="Single Leg Standing Calf Raises (Straight leg)" 
      description="Do Straight leg, as you progress you can add a load with dumbbells. In this progressed form, drop over a step, holding dumbbell on your active legs sdie. Use other hand (knuckles) to brace yourself." 
      reps="2 sets of 15 per side (IN BETWEEN sets, do the tibialis raise)"
      videoUrl="https://www.youtube.com/embed/k4rDx34nY7E?start=13&end=54")

    (hash name="Tibialis Raise" 
      description="Butt against wall, legs straight out ~ foot from wall, go up on heels with both feet, farther from wall gets harder" 
      reps="2 sets of 25"
      videoUrl="https://www.youtube.com/embed/DylhG4x8F1U?start=72&end=150")

    (hash name="Slant Squat"
      description="Squat on a slanted board"
      reps="25"
      videoUrl="https://www.youtube.com/embed/KCIjsChNs64")

    (hash name="ATG split squat" 
      description="Lunge squat, front heel can come off, hamstring to calf" 
      reps="4 sets of up to 12 reps per side"
      videoUrl="https://www.youtube.com/embed/Vb4Pn-zsFGc?start=0&end=90")

    (hash name="Hanging Knee Raise (L Sit)"
      description="strengthen not just the 6-pack, but also the hip flexors."
      reps="5 * 20 seconds"
      videoUrl="https://www.youtube.com/embed/aMEpsJ1PWyk")

    (hash name="Incline Dumbbell Press"
      description="angle the dumbbells so my chest and shoulders don’t stop them short. This allows for my full range of motion."
      reps="2 sets of 15"
      videoUrl="https://www.youtube.com/embed/WJvPftM50HA")

    (hash name="Seated lumbar stretch"
      description="Start with back against wall. As you get stronger and more flexible you might even enjoy the freedom of not using the wall."
      reps="2 sets of 10 each side"
      videoUrl="https://www.youtube.com/embed/dsT4TBBXPGI")

    (hash name="Standing Pancake"
      description="Widen legs, grab elbows, lower head close to floor"
      reps="30-60 seconds"
      videoUrl="https://www.youtube.com/embed/CJqdb_HKzzY")
    
  }} />

</div>