<NavigationBar />

<div class="injuries-page">
  <ExerciseList 
  @title="Workout B (Tues & Fri)" 
  @exercises={{array 

    (hash name="Backwards Walk" 
      description="Push through toes" 
      reps="5 minutes"
      videoUrl="https://www.youtube.com/embed/GHpJxYs0Iqc")

    (hash name="Single Leg Standing Calf Raises (Bent leg)" 
      description="Bent leg version or Knees Over Toes. In gym, the seated calf machine would be used to add weight for this exercise " 
      reps="2 sets of 15 per side (IN BETWEEN sets, do the tibialis raise)"
      videoUrl="https://www.youtube.com/embed/k4rDx34nY7E?start=13&end=54")

    (hash name="Tibialis Raise" 
      description="Butt against wall, legs straight out ~ foot from wall, go up on heels with both feet, farther from wall gets harder" 
      reps="2 sets of 25"
      videoUrl="https://www.youtube.com/embed/DylhG4x8F1U?start=72&end=150")

    (hash name="Nordic Curl"
      description="working toward the ability to control your body the whole way down"
      reps="4 sets of 5 reps"
      videoUrl="https://www.youtube.com/embed/XtMs-Lkm2HQ")

    (hash name="Pullups"
      description="using your legs to push up and then controlling the way down is a great start - even hanging alone is great"
      reps="2 sets of 12"
      videoUrl="https://www.youtube.com/embed/nxcaAt_iH5A")

    (hash name="ATG-style Overhead Dumbbell Press"
      description="standing overhead dumbbell press"
      reps="2 sets of 12"
      videoUrl="https://www.youtube.com/embed/31iVw9Udf_s")

    (hash name="Row"
      description="The goal for the row is feet-elevated so that your body is parallel to the floor. 
      However, you can regress the exercise by having your feet on the ground and raising the bar. You can also do rows with dumbbells, cable or machine."
      reps="2 sets of 12"
      videoUrl="https://www.youtube.com/embed/hEvI9z0S2-U")

    (hash name="Band Pull-aparts"
      description="learn to strengthen between our shoulders and not let the modern tech posture take effect."
      reps="25"
      videoUrl="https://www.youtube.com/embed/wydoZ21jYiQ")

  }} />

</div>