<NavigationBar />
<div class="workout-page">
  <RectangleBox
    @route="atg-daily" 
    @backgroundImage="/workout.png" 
    @altText="ATG Daily Background" 
    @text="Daily Workouts" />
  
  <RectangleBox 
    @route="injuries" 
    @backgroundImage="/workout.png" 
    @altText="Injury Specific Background" 
    @text="Injury Specific" />
</div>